

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="RUET MSC Student Management System ">

    <title>RUET Msc Management System</title>


   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>
{% load static %}
<body >
</br>

<h3 align="center">Admission (2019-2020)</h3>


		<nav class="navbar navbar-expand-lg navbar-light bg-primary">

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
	  &emsp;&emsp;
      <li class="nav-item">
        <a class="nav-link" href="{% static 'files/Notice.pdf' %}">Notice</a>
      </li>
	  &emsp;&emsp;
      <li class="nav-item">
        <a class="nav-link" href="{% static 'files/admission.pdf' %}">Admission Form</a>
      </li>
       &emsp;&emsp;
      <li class="nav-item">
        <a class="nav-link" href="{% url 'course' %}">Course</a>
      </li>

    </ul>
  </div>
</nav>
<br>

<h4>Academic Calendar </h4>
<p>There are two semesters namely, odd semester and even semester in one academic year. Normally, odd semester is start in April and the even semester in October. Academic progress is measured in terms of credit hours earned by a student. One credit hour for theory course normally requires one hour of class attendance per week in a   semester. While one credit hour for thesis, Project and laboratory classes normally requires three hours of work per week in a   semester.
</p>
<h4>Admission Procedure</h4>
<ul>
  <li>Applications for admission to the above courses shall be invited through regular means of advertisement and shall be received through prescribed application form.</li>
  <li>There shall be an admission Committee in each department as constituted by the respective PGAC. The admission committee will scrutinize the applications.</li>
  <li>The eligible applicants may be required to appear at a written and/or oral test conducted by the admission committee. The committee, on the basis of the admission test result, will approve a list of prospective postgraduate students for admission into the postgraduate program of the concerned department.</li>
  <li>Every selected candidate for the postgraduate program shall have to get himself/herself admitted/registered to the University within the prescribed time limit on payment of prescribed fees and other dues.</li>
  <li>Eligibility for the admission of foreign students in the aforementioned postgraduate programs shall be examined by the equivalence committee.</li>
  <li>On the recommendation of the appropriate PGAC, the rules for admission into postgraduate courses of the University may be amended from time to time by the Academic council through CASR.</li>
</ul>
....</br>
.....</br>
.....</br>
....</br>
....</br>
....</br>
......</br>
.....</br>
.....</br>
....</br>
....</br>
....</br>
....</br>
....</br>
....</br>
....</br>
....</br>
....</br>
</body>

</html>
