

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="RUET MSC Student Management System ">

    <title>RUET Msc Management System</title>


   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>
{% load static %}
<body >
</br>

<h3 align="center">Courses </h3>
<br>
<nav class="navbar navbar-expand-lg navbar-light bg-primary">

<div class="collapse navbar-collapse" id="navbarNav">
<ul class="navbar-nav">
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
  </li>
&emsp;&emsp;
  <li class="nav-item">
    <a class="nav-link" href="{% url 'admission'%}">Admission Form</a>
  </li>

</ul>
</div>
</nav>
</br>

<h2> Syllabus of Dept.Of CSE</h2>
1. Msc Syllabus: </br>
   Please download the file : <a  href="{% static 'files/course.pdf' %}">Click here</a>


</body>

</html>
